#contacts {
  background-color: var(--bg-color);
}
.contact-card {
  background-color: var(--bg-color);
  min-width: 240px;
  width: 21.25em;
  box-shadow: 0 5px 25px var(--shadow-color);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 1.2s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-card i {
  font-size: 8rem;
  color: var(--sec-color);
}
.contact-card h3 {
  margin-top: 20px;
  color: var(--text-color);
}
.contact-card p {
  color: var(--text-color);
}

.contact-card:hover {
  transform: scale(1.1);
}
@media (max-width: 582px) {
  .contact-card {
    padding: 15px;
  }
}
