.contact-card {
  background-color: white;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 1.2s ease;
  text-align: center;
}

.contact-card i {
  font-size: 8rem;
  color: var(--sec-color);
}
.contact-card h3 {
  margin-top: 20px;
  color: var(--bg-color);
}

.contact-card:hover {
  transform: scale(1.1);
}
@media (max-width: 582px) {
  .contact-card {
    padding: 50px;
  }
}
