:root {
  --1st-color: #7542c8;
  --2st-color: #47556b;
  --3st-color: #fb8e33;
}
.projects {
  background-color: #2c2c2c;
}
.pro-card {
  min-width: 270px;
  width: 22rem;
  height: 17rem;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4.625rem;
  border-radius: 1.125rem;
  background: var(--3st-color);
  position: relative;
  color: var(--bg-color);
  margin-bottom: 15px;
  text-decoration: none;
  transition: ease 0.9s;
}
.pro-card:hover {
  transform: scale(1.1);
}

.pro-card div img {
  width: 5.5rem;
  height: 5.5rem;
  flex-shrink: 0;
  border-radius: 50%;
}
.pro-card div i {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 10rem;
  /* z-index: -1; */
  color: rgba(255, 255, 255, 0.45);
}
.info {
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
  font-weight: 700;
}
.info p:nth-last-child(1) {
  color: #0f5ffb;
}
.projects .container a:nth-child(2) {
  background-color: #dc3545;
}
.projects .container a:nth-child(3) {
  background-color: var(--1st-color);
}
@media (max-width: 600px) {
  section {
    padding: 80px 0;
  }
  .pro-card {
    padding: 15px;
    width: 300px;
    align-items: flex-start;
  }

  .pro-card div i {
    font-size: 2rem;
    left: auto;
    right: 1rem;
  }
}
